@import url('https://fonts.googleapis.com/css2?family=Palanquin+Dark&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Palanquin+Dark&family=Squada+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Francois+One&family=Palanquin+Dark&family=Squada+One&display=swap');

:root {
    font-family: 'Squada One', cursive;
    --color-bg-main: #1a0909;
    --color-bg-header: #A68574;
}

html {
    width: 100%;
    height: 100%;
    margin: 0%;
    padding: 0%;
}

body {
    background-color: var(--color-bg-main)
}

h1 {
    font-family: 'Francois One', sans-serif; 
    text-transform: uppercase;
    font-size: 2.5rem;
}

h2 {
    font-family: 'Francois One', sans-serif;
    text-align: center;
}

h3, h4{
    color: aliceblue;
    font-family: 'Francois One', sans-serif;
    text-align: center;
}

P {
    color: aliceblue;
    text-align: center;
}

.header-ppal {
    width: 100%;
    background-color: var(--color-bg-header);
    display: flex;
    justify-content: space-around;
}

.perhaps {
    width: 200px;
    max-width: 100%;
    margin-top: 0px;
}

.container-form-header {
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.button-common {
    padding: 8px;
    font-family: 'Francois One', sans-serif;
    border-radius: 5px;
    margin: 5px;
}

.section-forms-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.register-login-form {
    color: aliceblue;
}

.common-input {
    padding: 4px;
    border-radius: 5px;
}

label {
    display: inline-block;
    width: 50px;
}

#login-error-message {
    width: 250px;
    display: none;
    background-color: red;
    padding: 15px;
    border-radius: 12px;
    color: aliceblue;
}

#clean-login-form {
    margin: 20px;
}

#sent-login-form {
    margin-left: auto;
}

img {
    margin-top: 50px;
    margin-left: 15px;
    margin-right: 15px;
}

.drinks-display {
    display: flex;
    align-content: space-around;
    justify-content: center;
}
.drinks-detail {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input {
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 50px;;
}


