@import url('https://fonts.googleapis.com/css2?family=Averia+Libre:ital,wght@0,400;1,300&family=Rye&family=Vast+Shadow&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --color-bg-main: #1a0909;
    --color-bg-header: #814603;
}

body {
    background-color: var(--color-bg-main);
    height: 100%;
    width: 100%;
}

h1 {

    font-size: 2.5rem;
    font-family: 'Vast Shadow', cursive, Arial, Helvetica, sans-serif;
    text-shadow: 1.5px 1.5px #c39717;
}

h2 {
    text-align: center;
}

h3, h4 {
    color: aliceblue;
    font-family: 'Vast Shadow', cursive, Arial, Helvetica, sans-serif;
    text-align: center;
    text-decoration: none;
}

P {
    color: aliceblue;
    text-align: center;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.title-container {
    display: flex;
    align-items: center;
}

.header-ppal {
    width: 100%;
    border-bottom: 2px solid white;
    background-color: var(--color-bg-header);
    display: flex;
    justify-content: space-around;
}

.perhaps {
    width: 200px;
    max-width: 100%;
    margin-top: 0px;
}

.container-form-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.cart-container {
    display: flex;
    justify-content: center;
    margin-top: 8px;
}

.categories-container {
    display: flex;
    justify-content:space-around;
    background-color: var(--color-bg-main);
    border-bottom: 2px solid white;
}

.price-item, .description-item {
    font-family: 'Vast Shadow', cursive, Arial, Helvetica, sans-serif;
    font-size: 0.8rem;
    padding: 15px;
}

.button-type {
    padding: 5px 10px;
    background-color: var(--color-bg-main);
    color: white;
    font-family: 'Vast Shadow', cursive, Arial, Helvetica, sans-serif;
    font-size: 1rem;
}
.product-container {
    display: grid;
    margin: 25px;
    grid-template-columns: 25% 25% 25% 25%;
}
.product-detail {
    display: flex;
    flex-direction: column;
    align-content: center;
}

.button-selection {
    align-self: center;
    margin: 10px;
    width: 100px;
}

.item-title {
    font-family: 'Averia Libre', cursive;
    padding: 5px;
    font-size: 1.2rem;
}
.description-item, .price-item {
    font-family: 'Averia Libre', cursive;
    font-size: 1rem;
}

.image-product-style{
    width: fit-content;
    height: fit-content;
    padding: 5px;
}

.button-common {
    width: 130px;
    padding: 5px;
    border-radius: 5px;
    margin: 5px;
    font-family: "rye", cursive;
}


